/******************************************************************
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/********************
FOR ADMIN
*********************/
/*********************
REM UNIT MIXINS
https://github.com/christopher-ramirez/remixings
*********************/
/*
.rem-mixins-test-class {
    .font-size(10px);
    .line-height(20px);
    .margin(10px);
    .margin(3em);
    .margin(10px, 20px);
    .margin(10px, 20%);
    .margin(0px , 20px);
    .margin-top(2%);
    .margin-top(2px);
    .padding(10px);
    .padding(3em);
    .padding(10px, 20px);
    .padding(10px, 20%);
    .padding(3em, 20px)
}
*/
/*********************
CLEARFIXIN'
*********************/
/*C ontain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************//* BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */

  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */

  box-sizing: border-box;
}
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/  */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
BORDER RADIUS
*********************//* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
CSS3 GRADIENTS
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
/*
 * Dashicons mixin
 * use: .dashicons( '\f140' );
 *//*
 * Button mixin- creates 3d-ish button effect with correct 
 * highlights/shadows, based on a base color.
 */
html {
  background: #f3f3f3;
}
/* Links */
a {
  color: #0074a2;
}
a:hover,
a:active,
a:focus {
  color: #0099d5;
}
#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover {
  color: #0099d5;
}
/* Forms */
input[type=checkbox]:checked:before {
  color: #886633;
}
input[type=radio]:checked:before {
  background: #886633;
}
.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #0099d5;
}
/* Core UI */
.wp-core-ui .button {
  background: #cccccc;
  border-color: #b3b3b3;
  color: #555555;
  -webkit-box-shadow: inset 0 1px 0 #f2f2f2, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #f2f2f2, 0 1px 0 rgba(0, 0, 0, 0.15);
}
.wp-core-ui .button:hover,
.wp-core-ui .button:focus {
  background: #b8b8b8;
  border-color: #a6a6a6;
  color: #555555;
  -webkit-box-shadow: inset 0 1px 0 #e6e6e6, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #e6e6e6, 0 1px 0 rgba(0, 0, 0, 0.15);
}
.wp-core-ui .button:active {
  background: #b8b8b8;
  border-color: #a6a6a6;
  color: #555555;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
.wp-core-ui .button[disabled],
.wp-core-ui .button:disabled,
.wp-core-ui .button.button-primary-disabled {
  color: #d1c7c7 !important;
  background: #b8b8b8 !important;
  border-color: #a6a6a6 !important;
  text-shadow: none !important;
}
.wp-core-ui .button-primary {
  background: #886633;
  border-color: #634a25;
  color: #222222;
  -webkit-box-shadow: inset 0 1px 0 #bc8f4c, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #bc8f4c, 0 1px 0 rgba(0, 0, 0, 0.15);
}
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #6a5028;
  border-color: #503c1e;
  color: #222222;
  -webkit-box-shadow: inset 0 1px 0 #ad8241, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #ad8241, 0 1px 0 rgba(0, 0, 0, 0.15);
}
.wp-core-ui .button-primary:active {
  background: #6a5028;
  border-color: #503c1e;
  color: #222222;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled {
  color: #d1cdc7 !important;
  background: #6a5028 !important;
  border-color: #503c1e !important;
  text-shadow: none !important;
}
.wp-core-ui .wp-ui-primary {
  color: #222222;
  background-color: #667766;
}
.wp-core-ui .wp-ui-text-primary {
  color: #667766;
}
.wp-core-ui .wp-ui-highlight {
  color: #222222;
  background-color: #886633;
}
.wp-core-ui .wp-ui-text-highlight {
  color: #886633;
}
.wp-core-ui .wp-ui-notification {
  color: #222222;
  background-color: #d54e21;
}
.wp-core-ui .wp-ui-text-notification {
  color: #d54e21;
}
.wp-core-ui .wp-ui-text-icon {
  color: #f1f3f1;
}
/* List tables */
.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #222222;
  background-color: #667766;
}
.view-switch a.current:before {
  color: #667766;
}
.view-switch a:hover:before {
  color: #d54e21;
}
.post-com-count:hover:after {
  border-top-color: #667766;
}
.post-com-count:hover span {
  color: #222222;
  background-color: #667766;
}
strong .post-com-count:after {
  border-top-color: #d54e21;
}
strong .post-com-count span {
  background-color: #d54e21;
}
/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #667766;
}
#adminmenu a {
  color: #222222;
}
#adminmenu div.wp-menu-image:before {
  color: #f1f3f1;
}
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #222222;
  background-color: #886633;
}
#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #222222;
}
/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-color: #f3f3f3;
}
/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #566456;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #566456;
}
#adminmenu .wp-submenu .wp-submenu-head {
  color: #363b36;
}
#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #363b36;
}
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #886633;
}
/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #222222;
}
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #886633;
}
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f3f3f3;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #222222;
  background: #886633;
}
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #222222;
}
/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #222222;
  background: #d54e21;
}
#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #222222;
  background: #566456;
}
/* Admin Menu: collapse button */
#collapse-menu {
  color: #f1f3f1;
}
#collapse-menu:hover {
  color: #222222;
}
#collapse-button div:after {
  color: #f1f3f1;
}
#collapse-menu:hover #collapse-button div:after {
  color: #222222;
}
/* Admin Bar */
#wpadminbar {
  color: #222222;
  background: #667766;
}
#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #222222;
}
#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #f1f3f1;
}
#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #886633;
  background: #566456;
}
#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #886633;
}
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #222222;
}
/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #566456;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #7f817f;
}
#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #363b36;
}
#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #f1f3f1;
}
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #886633;
}
#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #886633;
}
/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f1f3f1;
}
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #222222;
  background: #778a77;
}
#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #222222;
  opacity: .7;
}
#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #222222;
  opacity: .7;
}
#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #222222;
  opacity: .7;
}
#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #222222;
  opacity: .7;
}
/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #778a77;
  background-color: #778a77;
}
#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #222222;
}
#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #886633;
}
#wpadminbar #wp-admin-bar-user-info .username {
  color: #363b36;
}
/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #886633;
}
.wp-pointer .wp-pointer-content h3:before {
  color: #886633;
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #886633;
}
/* Modules */
.postbox {
  background: #ffffff;
}
.postbox h3 {
  background: #ffffff;
}
.postbox .tabs {
  background-color: #fdfdfd !important;
}
.postbox .tabs-panel {
  background-color: #fdfdfd !important;
}
