/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 600up Stylesheet
******************************************************************/	
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site {}

/* Small menu */
.mobile-menu {
	display: none;
}
.nav-menu {
	display: inline-block;
}
.site-content-wrapper {
	background: @sec-color;
	.padding(5px);
	box-shadow: inset 0px 0px 5px @black;
}
.site-content {
	background:  @content-color url(css/img/trans1.png) repeat;
	box-shadow: 0px 0px 5px #222;
	
	.content-area {
		.padding(10px);
	
		.site-main {}
	}
	
	.widget-area {}
}

/******************************************************************
HEADER & NAVIGATION
******************************************************************/

/** Site Header
-------------------------------------------------------------- */
.site-header {
	.margin-top(20px);
	position: relative;
	.height(250px);
}	
.header-image {
	background: url(../images/good_shepherd_250.png);
	.width(190px);
	.height(250px);
	position: absolute;
	.top(0);
	.left(0);
}
.site-branding {
	.padding(10px);
	.padding-top(25px);
	.padding-left(190px);
	width: 100%;
		
	.site-title {
		.font-size(80px);
		text-shadow: 1px 1px 1px #999;
	}
	.site-description {}
	a {}	
}

/* Main Navigation
**************************************************************/
.main-navigation {
	display: inline-block;
	width: 100%;

	
	.mmenu-toggle {
		.height(44px);
		display: inline;
	}
	.nav-menu {
		background: @sec-color url(../images/nav_bg.png) repeat-x;
		.border-radius(4px);
		box-shadow: 1px 1px 1px @black;
		.height(50px);
		
		ul {
			margin: 0;
			padding: 0;
			.padding-left(240px);
			display: inline-block;
			
			li a {
				text-shadow: 1px 1px 0px #874;
			}
		}
		
	}
	
	
	.search-not-mobile {
		display: inline-block;
		float: right;
		.padding-top(5px);
	}
}

/* Header Search Bar
******************************************************************/
.search-mobile {
	display: none;
}
.search-not-mobile {
	display: inline-block;
}
.site-footer {
	.margin-top(10px);
	box-shadow: 0px -2px 4px @black;
	.min-height(50px);
}

/* SCRIP BUBBLE
************************************************************************/
.scrip_container_wrap {
	.shadow-right {
		right: 0;
		background: url(../images/shadow-right.png) no-repeat;
	}
	.shadow-left {
		left: 0;
		background: url(../images/shadow-left.png) no-repeat;
	}	
}

.home {
	.featured {
		.margin-bottom(20px);
		background: url(../images/trans1.png) repeat #CB7;
		
		.featured-content {
		
			iframe {}
		}
		.featured-text {}
	}
	.featured-divider {}
	.featured-cats {
		.wrap;
		
		//.featured-cat-wrap {
		
			.featured-cat {
				position: relative;
				.column(4);
				.margin-bottom(20px);
				//background: @sec-color url(../images/cross_feat.png) repeat;

				&:nth-of-type(3n+1) {
					.first;
					clear: both;
				}				
				&:nth-of-type(3n) {
					.last;
				}				
				h2 {		
					
					a {}
				}
				p {}
				.read-more {
					
					a {}
				}		
				.featured-cross {
					position: absolute;
					left: 0;
					background: url(../images/cross_feat.png) repeat;
				}
			}
			.shadow-left,
			.shadow-right {
				position: absolute;
				height: 14px;
				width: 144px;
				//top: 445px;				
			}
			.shadow-left {
				left: 0;
				background: url(../images/shadow-left.png) no-repeat;
			}
			.shadow-right {
				right: 0;
				background: url(../images/shadow-right.png) no-repeat;
			}			
		//}
	}
	.middle {}
}