/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 600up Stylesheet
******************************************************************/	
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site {
	.padding(0, 5px);
}
.nav-menu {}
.site-content-wrapper {
	background: @sec-color;
	.padding(5px);
	box-shadow: inset 0px 0px 5px @black;
}
.site-content {
	background:  @content-color url(css/img/trans1.png) repeat;
	box-shadow: 0px 0px 5px #222;
	
	.content-area {
		.padding(10px);
	
		.site-main {}
	}
	
	.widget-area {}
}
.site-footer {
	.margin-top(10px);
	box-shadow: 0px -2px 4px @black;
	.min-height(50px);
}

/* SCRIP BUBBLE
************************************************************************/
.scrip_container_wrap {
	.shadow-right {
		right: 0;
		background: url(../images/shadow-right.png) no-repeat;
	}
	.shadow-left {
		left: 0;
		background: url(../images/shadow-left.png) no-repeat;
	}	
}

.home {
	.featured {
		.margin-bottom(20px);
		background: url(../images/trans1.png) repeat #CB7;		
		box-shadow: 0px 0px 5px #222;

		.featured-text {
			.column(7);
			.first;		
		}		
		.featured-content {
			.column(5);
			.last;		
		
			iframe {}
		}
	}
	.featured-divider {}
	.featured-cats {
		.wrap;
		.margin-top(20px);	
		
		.featured-cat-wrapper {
			.column(6);		
			.padding-bottom(14px);
			.margin-bottom(20px);

			&:nth-of-type(5), 
			&:nth-of-type(6) {
				display: inline;
			}	
			&:nth-of-type(2n+1) {
				.first;
				clear: both;
			}				
			&:nth-of-type(2n) {
				.last;
			}		
			
				
			.featured-cat {		
				position: relative;
				.padding-top(5px);				
				.min-height(400px);
				border: 2px solid @content-color;
		
				h2 {		
					
					a {}
				}
				.home-featured-image {
					p {
						.height(170px);						
					}
				}
				.read-more {
					background:#cb7;
					height: 24px;
					position: absolute;
					left: 95px;
					border-radius: 15px;
					border: 2px solid #863;
					padding-top: 3px;							
					.bottom(-13px);
					.left(100px);
					z-index: 1;
					
					a {
						text-decoration: none;
						color: #800;
						font-weight: bold;
						font-family: 'Open Sans Condensed';
						.font-size(16px);						
						display: block;
						.margin-top(-4px);
						.padding(0, 20px);
					}
				}		
				.featured-cross {
					position: absolute;
					left: 0;
					background: url(../images/cross_feat.png) repeat;
				}
			}
			.shadow-left,
			.shadow-right {
				position: absolute;
				height: 14px;
				width: 144px;
				//top: 445px;				
			}
			.shadow-left {
				left: 0;
				background: url(../images/shadow-left.png) no-repeat;
			}
			.shadow-right {
				right: 0;
				background: url(../images/shadow-right.png) no-repeat;
			}			
		}
	}
	.middle {}
}