/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 768up Stylesheet
******************************************************************/

html{}
body {}
.site {}
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site-header {
	.wrap;
}
.site-content-wrapper {
	.wrap;
	.margin(0, 5px);
}
.site-content {	
	.content-area {
		.column(8);
		.first;
		.site-main {}
	}
	
	.widget-area {
		display: block;
		.column(4);
		.last;
		.padding(10px);
		list-style: none;
		
	}
}
.site-footer {
	clear: both;
	
	.inner-footer {
		.wrap;
	}
}

/******************************************************************
HEADER & NAVIGATION
******************************************************************/

/** Site Header
-------------------------------------------------------------- */
.site-header {
	.margin-top(20px);
	position: relative;
	.height(250px);
}	
.header-image {
	background: url(../images/good_shepherd_250.png);
	.width(190px);
	.height(250px);
	position: absolute;
	.top(0);
	.left(0);
}
.site-branding {
	.padding(10px);
	.padding-top(25px);
	.padding-left(200px);
	width: 100%;
		
	.site-title {
		.margin-top(20px);
		.font-size(60px);		
		text-shadow: 1px 1px 1px #999;
		text-align: left;
	}
	.site-description {}
	a {}	
}


/* Main Navigation
**************************************************************/
/* Small menu */
.mobile-menu {
	display: none;
}
.main-navigation {
	display: inline-block;
	width: 100%;
	background: @sec-color url(../images/nav_bg.png) repeat-x;
	.border-radius(4px);
	box-shadow: 1px 1px 1px @black;
	.height(50px);
	
	.mmenu-toggle {
		
		ul {
			margin: 0;
			padding: 0;
			.padding-left(200px);
			display: inline-block;
			.height(14px);
			
			li a {
				text-shadow: 1px 1px 0px #874;
				.margin-top(-3px);
			}
		}
	}
	.search-not-mobile {
		position: relative;
		display: inline-block;
		float: right;
		.margin-top(-13px);
		.font-size(20px);
		text-shadow: 1px 1px 0px #874;
		
	}
}

/* Header Search Bar
******************************************************************/
.search-mobile {
	display: none;
}
.search-not-mobile {
	display: inline-block;
}
.search-box-wrapper {
	.padding-left(200px);
	.padding-top(5px);
}

/** Home 
-------------------------------------------------------------- */
.home {
	.site-content {
		padding: 0;
		.content-area {
			.column(12);
			margin: 0;
			padding: 0;
			
			.featured {
				overflow: hidden;
				.padding(10px);
				margin: 0;
				.min-height(320px);
				
				.featured-content {
					iframe {
						.height(280px);
					}
				}
			}
		}
	}
	.featured-cats {
		.featured-cat-wrapper {
			.column(4);
			.margin-top(5px)!important;	

			&:nth-of-type(7), 
			&:nth-of-type(8), 
			&:nth-of-type(9) {
				display: inline;
			}		
			&:nth-of-type(2n+1) {
				.column(4);
				clear: none;
			}				
			&:nth-of-type(2n) {
				.column(4);
			}				
			&:nth-of-type(3n+1) {
				.first;
				clear: both;			
			}				
			&:nth-of-type(3n) {
				.last;
			}				
		}
	}	
}

/******************************************************************
SIDEBARS & ASIDES
******************************************************************/
/*
#secondary .widget-area
	aside .widget
******************************************************************/
.widget-area {	
	.widget {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
		
		.widget-title-wrap {
			box-shadow: inset 0px 0px 5px @black;
			overflow: hidden;
			background-color: @prim-color;
			
			.widget-title {
				.margin(4px);
				.padding(5px);
				border: 1px solid #444;
				background-color: @sec-color;	
				color: @tert-color;
				.font-size(16px);
				text-shadow: 1px 1px 0px #874;
				font-family: @heading-font;
				
			}
		}
		h3 {
			color: @prim-color;
		}
		a {}
		p {}
		ul {
			list-style: none;
			
			li {			
				&:first-child {}
				&:last-child {}
				a {}
				
				/* deep nesting */
				ul {}
			}
		} 
	}
	.widget_excerpts_by_alt_category {}
	.widget_posts_by_category {}
	.widget_recommended_articles {
		.margin-bottom(10px);
			
		.widget-title-wrap {
			.margin-bottom(10px);
		}
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}		
	}
	.widget_amazon_ads {
		.ad_image_wrap {
			.padding-top(10px);		
			clear: both;
			img {
				float: left;
				.margin-right(5px);
			}	
		}
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}	
	#s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
	}
}