/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 768up Stylesheet
******************************************************************/

html{}
body {}
.site {}
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site-header {
	.wrap;
}
.site-content-wrapper {
	.wrap;
}
.site-content {	
	.content-area {
		.column(8);
		.first;
		.site-main {}
	}
	
	.widget-area {
		display: block;
		.column(4);
		.last;
		.padding(10px);
		list-style: none;
		
	}
}
.site-footer {
	clear: both;
	
	.inner-footer {
		.wrap;
	}
}

/******************************************************************
HEADER & NAVIGATION
******************************************************************/

/** Site Header
-------------------------------------------------------------- */
.site-header {
	.margin-top(20px);
	position: relative;
	.height(250px);
}	
.header-image {
	background: url(../images/good_shepherd_250.png);
	.width(190px);
	.height(250px);
	position: absolute;
	.top(0);
	.left(0);
}
.site-branding {
	.padding(10px);
	.padding-top(25px);
	.padding-left(190px);
	width: 100%;
		
	.site-title {
		//.font-size(80px);
		.font-size(60px);		
		text-shadow: 1px 1px 1px #999;
	}
	.site-description {}
	a {}	
}

/* Main Navigation
**************************************************************/
/* Small menu */
.mobile-menu {
	display: none;
}
.main-navigation {
	display: inline-block;
	width: 100%;

	
	.mmenu-toggle {
		.height(44px);
		display: inline;
	}
	.nav-menu {
		display: inline-block;
		background: @sec-color url(../images/nav_bg.png) repeat-x;
		.border-radius(4px);
		box-shadow: 1px 1px 1px @black;
		.height(50px);
		
		ul {
			margin: 0;
			padding: 0;
			.padding-left(240px);
			display: inline-block;
			
			li a {
				text-shadow: 1px 1px 0px #874;
			}
		}
		
	}
	
	.search-not-mobile {
		display: inline-block;
		float: right;
		.padding-top(5px);
	}
}

/* Header Search Bar
******************************************************************/
.search-mobile {
	display: none;
}
.search-not-mobile {
	display: inline-block;
}

/** Home 
-------------------------------------------------------------- */
.home {
	.site-content {
		padding: 0;
		.content-area {
			.column(12);
			margin: 0;
			padding: 0;
			
			.featured {
				overflow: hidden;
				.padding(10px);
				margin: 0;
				.min-height(320px);
				
				.featured-content {
					iframe {
						.height(280px);
					}
				}
			}
		}
	}
	.featured-cats {
		.featured-cat-wrapper {
			.column(4);

			&:nth-of-type(7), 
			&:nth-of-type(8), 
			&:nth-of-type(9) {
				display: inline;
			}		
			&:nth-of-type(2n+1) {
				.column(4);
				clear: none;
			}				
			&:nth-of-type(2n) {
				.column(4);
			}				
			&:nth-of-type(3n+1) {
				.first;
				clear: both;
			}				
			&:nth-of-type(3n) {
				.last;
			}				
		}
	}	
}